.footer-right-block h4 {
    color: #EB9662;
    font-weight: normal;
    font-size: 22px;
}
.footer-right-block h3 {
    font-weight: normal;
    font-size: 22px;
}
.footer-right-block {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    gap: 12px;
    text-align: right;
}
.social-links {
    display: flex;
    gap: 10px;
    padding-top: 12px;
}
.social-link img {
    width: 48px;
    height: 48px;
}
.social-link {
    padding: 8px;
    background-color: #EB9662;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 12px;
}
.footer-left-block h4 {
    color: #EB9662;
    font-weight: normal;
    font-size: 22px;
}
.footer-left-block h3 {
    font-weight: normal;
    font-size: 22px;
}
.footer-left-block {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    gap: 12px;
}
.footer-left-block > * {
    margin: 0;
}
.footer-right-block > * {
    margin: 0;
}
footer {
    width: 100%;
    height: 284px;
    background-color: #632600;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.item-price {
    padding: 15px 20px;
    background-color: rgba(255, 98, 0, 0.5);
    border: 3px solid #FF6200;
    text-align: center;
    border-radius: 32px 100px 32px 100px;
    color: #ffffff;
    font-weight: semi-bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
}
.cart-button:hover {
    background-color: #ff8235;
    transition: all 0.3s;
}
.cart-button {
    padding: 15px 20px;
    background-color: #FF6200;
    color: #ffffff;
    border-radius: 100px;
    text-align: center;
}
.item-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.item img {
    width: 320px;
    position: absolute;
    top: -80px;
    left: -80px;
}
.item:hover img {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    rotate: -5deg;
}
.item {
    width: 330px;
    background-color: #FFE4D3;
    border-radius: 16px 64px 64px 64px;
    padding: 250px 45px 45px 45px; 
    box-sizing: border-box;
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}
.items-block {
    display: flex;
    width: 100%;
}
.menu-block {
    display: flex;
    align-items: center;
    gap: 60px;
    width: 100%;
}
.menu-buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.menu-button-promo {
    background-color: #FF6200;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 100px;
}
.menu-button-promo:hover {
    background-color: #c64e04;
    transition: all 0.3s;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 100px;
}
.menu-button {
    color: #000000;
    padding: 10px 15px;
    border-radius: 100px;
}
.menu-button:hover {
    color: #FF6200;
    transition: all 0.3s;
    padding: 10px 15px;
    border-radius: 100px;
}
.promo-block {
    display: flex;
    width: 100%;
    gap: 30px;
    overflow: hidden; /* на всякий случай */
}

.promo-block img {
    flex: 1 1 0;
    width: 0;
    height: auto;
    object-fit: contain;
    display: block;
}
.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 30px;
    padding: 0px 30px;
    box-sizing: border-box;
    margin-top: 30px;
}
.login-button {
    padding: 10px 25px;
    border-radius: 100px;
    color: #ffffff;
    border: #FF6200 2px solid;
    background-color: #FF6200;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-button:hover {
    transition: all 0.3s;
    box-shadow: inset 0 0 0 2px rgba(255, 245, 240, 0.5);
}
.login-buttons {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
.header-buttons {
    display: flex;
    gap: 30px;
}
.header-button {
    border: #FF6200 2px solid;
    padding: 10px 25px;
    border-radius: 100px;
    color: #FF6200;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-button:hover {
    color: #ffffff;
    background-color: #FF6200;
    transition: all 0.3s;
}
.header-button:active {
    color: #ffffff;
    background-color: #da5706;
    transition: all 0.3s;
}
.logo-block {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 20px;
    color: #FF6200;
    width: fit-content;
}
body {
    margin: 0;
    padding: 0;
    background-color: #FFF5F0;
    font-family: Inter;
}
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #FFD2BA;
}
a {
    text-decoration: none;
    color: inherit;
}